.fondo{
  height: 100vh;

  padding-top: 20vh;
}

.container{
  width: 500px;
  height: 400px;
  border-radius: 50px;
  opacity: 85%;
}

img{
  margin: auto;
  width: 150px;

}
.checkBox{
  margin-top: 25px;
  margin-left: 20px;
}
.Aux{
  margin-left: 10px;
}
.inputA{

  margin-top: 10px;

  border-radius: 15px;
  width: 450px;
  margin-right: auto;
  margin-left: auto;
}

.btnA {
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  text-transform: initial;
  width: 250px;
  font-size: 18px;
  border-radius: 50px;

}

.btnA:hover{
}

.modal{
}
.modal-content{
  border-radius: 25px;
}
