@import url("../../styles.css");


h2 {
    margin-top: 15%;
    font-size: 70px;
    text-align: center;
    width: 75%;
    margin-left: 12.5%;
    vertical-align:middle;
    color: var(--k-primary);
}

p {
    margin-top: 5%;
    font-size: 35px;
    text-align: center;
    width: 75%;
    margin-left: 12.5%;
    vertical-align:middle;
    color: var(--k-primary-complementary);
}
.stop-button{
  width: 50px;
  height: 50px;
  border-radius: 30px;
  margin: 0px;
  margin-top: 7%;
  margin-left: 43%;

}

.stop-button:hover{
  width: 50px;
  height: 50px;
  border-radius: 30px;
  margin: 0px;
  margin-top: 7%;
  margin-left: 43%;

}


.play-button {
    width: 60px;
    height: 60px;
    border-radius: 30px;
}

.play-button:hover {
    width: 60px;
    height: 60px;
    border-radius: 30px;
}

.close-button{
    width: 50px;
    height: 50px;
    border-radius: 30px;
    margin: 0px;
    margin-top: 7%;
}

.close-button:hover{
  width: 50px;
  height: 50px;
  border-radius: 30px;
  margin: 0px;
  margin-top: 7%;
}
