@import url("../../styles.css");


h2 {
    margin-top: 15%;
    font-size: 70px;
    text-align: center;
    width: 75%;
    margin-left: 12.5%;
    vertical-align:middle;
    color: var(--k-primary);
}

p {
    margin-top: 5%;
    font-size: 35px;
    text-align: center;
    width: 75%;
    margin-left: 12.5%;
    vertical-align:middle;
    color: var(--k-primary-complementary);
}

.kbtn-primary {
    vertical-align: middle;
}