.card{
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}
.btnplay{
  color: var(--k-tertiary);
  background-color: transparent;
  width: 33%;
  margin-left: 33%;
}
.btnplay:hover{
  color: var(--k-light);
  background-color: var(--k-tertiary);
}
