@import url("../../../styles.css");


.card{
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}


.btn-group{
  width: 80%;
  margin-left: 10%;
}
.btnplay{
  color: var(--k-tertiary);
  background-color: transparent;
  width: 33%;

}
.btnplay:hover{
  color: var(--k-light);
  background-color: var(--k-tertiary);

}

.btnAux{
  margin-top: 20px;
  background:  var(--k-secondary);
  color: var(--k-light);
  margin-left: 25%;
  width: 50%;
  border-radius: 50px;
  box-shadow: 0px 0px 10px var(--k-secondary);
}

.btnAux:hover{
  color: var(--k-light);
  background-color: var(--k-secondary-complementary);
  border-radius: 5px;
  box-shadow: 0px 0px 10px var(--k-secondary-complementary);
}

.colorA{
  margin-top: 5px;
  height: 35px;
}
