@import url("../../../styles.css");

input{
  width: 550px;
}

.knav{
  background: transparent;
  border: transparent;
  color: var(--k-cuaternary);
}

.logo{
  left: 0px;
  height: 50px;
  margin-left: 20px;
}

.kbtn-secondary{
  margin: 0%;
}

.kbtn-secondary:hover{
  margin: 0%;
}

select{
  margin-right: 5px;
  background: #FFBE0B;
  width: 40%;
}



.dropdown-toggle{
  margin-right: 100px;
}

.ksearch-bar{
  border-radius: 25px;
  border-color: transparent;
  box-shadow: 0px 0px 10px var(--k-light);
  font-size: small;
  color: var(--k-dark);
}
